*{
    margin: 0;
    padding: 0;
    background-color: black;
}

body{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#display {
    color:#0ab6f5;
}

.timer{
    font-size: 2em;
}
